<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron"> 
    <h1>Welcome to the Sample App</h1>
    <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
    <%end%>



    <!-- <% if logged_in? %>
  <%= render "when_logged_in"%>
<% else %>
  <%= render "when_not_logged_in"%>
<%end%> 




doubt 1: breaking home.html.erb in partials is not working
doubt 2: on /microposts get req is not working which is expected as there is no get req defined on this route but is it right way to do.




-->